.redBox {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.blueBox {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 255);
    border-radius: 5px;
}

.greenBox {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 255, 0);
    border-radius: 5px;
}